
<div id="landing" class="container-fluid">
    <div class="row">
        <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row icons">
        <div class="col-md-4">
            <a class="button" href="#">
                <span>
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </span>
                <span>Github</span>
            </a>
        </div>
        <div class="col-md-4">
            <a class="button" href="#">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="col-md-4">
            <a class="button" href="#statusArea">
                <div>About Me</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">.col-md-1</div>
    </div>
</div>



<div id="statusArea" class="container-fluid">
    <p>{{word}}</p>
</div>



<div id="portfolio" class="container-fluid"></div>
